:root {
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto",sans-serif;
}

body{
    background-color: var(--bg);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
   
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header section{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   background-color: var(--bg);
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color) ;
    padding-bottom: 0.rem;
    font-size: 2rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover{
    width: 40px;
    height: 40px;
}

.btn{
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.home-container{
    background: url("../imagens/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home-container section{
    display: flex;
    align-items: center;
    height: 100vh;
}

.content{
  max-width: 60rem;  
}

.content h3{
color: #fff;
font-size: 6rem;
}

.content p{
 color: #fff;
 font-size: 2rem; 
 font-weight: 100; 
 line-height: 1.8;
 padding: 1rem 0;
}

.title{
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span{
   color: #fff; 
   text-transform: uppercase;
   
}

.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content{
    padding: 2rem;
}

.about .row .content h3{
font-size: 3rem;
color: white;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.btn:hover{
    letter-spacing: 0.1rem;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.box{
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
    background-color: var(--black);
}

.box img{
    height: 10rem;
}

.box h3{
  color: #fff;  
  font-size: 2rem;
  padding: 1rem 0 ;
}

.price{
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}



.box:hover{
    background-color: #fff;
}

#review .box{
    border: var(--border);
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 0; 
}

#review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

#review .box-container .box .name{
    font-size: 2rem;
    color: white;
    margin: 1rem 0 ;

}


#review .box-container .box p{
  font-size: 1.5rem; 
  color: #fff; 
  padding: 2rem 0;
  line-height: 1.8;
}

.user{
   height: 8rem; 
   width: 8rem;
   border-radius: 50%;
   object-fit: cover;
   margin: 1rem 0;
}

#review .quote{
    height: 4rem;
    margin-bottom: 1rem;
}

#review .stars img{
    height: 2rem;
    margin: 0.2rem;
}

.address iframe{
    display: block;
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto;
}


.footer{
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}


.footer .share img{
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    
}

.footer .share img:hover{
    background-color: var(--main-color);
}

footer{
    background-color: white;
    padding: 20px;
    margin: 0px;
}

footer>p{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
   
}

footer>p>a:hover{
    color: black;
    text-decoration: underline;
}



