@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#265C4B,#007566);
}
main{
  background-color: white;  
  border-radius: 10px;
  box-shadow: 8px 8px 16px #013624;
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1{
    color: #589A8D;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2{
    color: #146551;
}
p{
    text-align: justify;
}