*{
 font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#012E40,#026773);
}

main{
   background-color: white;
   border-radius: 10px;
    box-shadow: 5px 5px 10px ;
    padding: 10px;
    margin: auto;
    width: 600px;
}

h1{
    color: #026773;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2{
    color: #012E40;
    text-align: center;
}


p{
    text-align: justify;
}


