@charset "UTF-8";


        body {
           background-color: rgb(66, 150, 150);
           font-family: Arial, Helvetica, sans-serif;
           font-size: 20px;
        }
        
        h1{
            color: darkblue;
            background-color: rgb(50, 235, 173);
        }

        h2{
            color: darkred;
        }

        p{
            text-align: justify;
        }
  