@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: rgb(245, 245, 245);
    width: 600px;
    box-shadow: 5px 5px 10px black;
    border-radius:10px;
    padding: 10px;
    margin: auto;

}
body{
   background-image: linear-gradient(to right,#593D2D,#3f2d22);
  
}
h1{
    color: #6b4a37;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2{
    color: #5a2a0f;
}
p{
    text-align: justify;
}